@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 310px;
    height: 100vh;
    padding: 0px 48px;
    z-index: 1000;
    display: none;
}

.show-sidebar {
    display: block;
    animation: slideInLeft 1s forwards;
    z-index: 1000;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.menu-content {
    position: relative;
    top: 11%;
}

.menu-items {
    height: 100%;
    font-size: 22px;
    position: relative;
    list-style: none;
    z-index: 1000;
}

.submenu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-top: 20px;
    padding: 2px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: hell 0.9s;
    font-weight: 400;
    z-index: 1000;
}

@keyframes hell {
    from {
        transform: translatex(-100%);
    }
    to {
        transform: translatex(0%);
    }
}

.submenu-item:hover,
.submenu-item.active {
    background-color: rgba(148, 149, 152, 0.18);
}

.show-submenu .submenu {
    display: block;
}

li .item .submenu-item {
    font-size: 22px;
    position: relative;
    list-style: none;
    margin-top: 50px;
    top: 8%;
}

.remix-icon1 {
    font-size: 25px;
}

.submenu {
    position: absolute;
    width: 320px;
    top: -33%;
    left: 115%;
    height: 100vh;
    background: #eeeff2;
    display: none;
    padding: 100px 45px;
    border-top-right-radius: 8px;
    overflow: auto;
    font-weight: 400;
    z-index: 1000;
}

.submenu li {
    animation: slide 0.9s;
    margin-bottom: 16px;
    width: 100%;
}

.submenu li a {
    text-decoration: none;
    color: black;
}

.submenu .item {
    font-size: 20px;
    width: 270px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.submenu .item:hover {
    background-color: rgb(205, 205, 205);
}

@keyframes slide {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

.header {
    width: calc(100%);
    height: 85px;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
    box-sizing: border-box;
    overflow: hidden;
}

.menu {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 3px;
    border-radius: 2px;
    transition: all .3s ease;
}

.menu:hover,
.profile:hover {
    background-color: rgb(236, 236, 236);
}

.profile {
    font-size: 20px;
    cursor: pointer;
    padding: 6px;
    border-radius: 2px;
    transition: all .3s ease;
}

.porsche {
    transform: translateX(-20px);
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid rgba(141, 139, 139, 0.929);
    font-size: 25px;
    padding: 5px;
    animation: bottom 0.8s;
}

.close-btn:hover {
    background-color: #eeeff2;
}

@keyframes bottom {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(40px);
    z-index: 99;
    display: none;
    cursor: pointer;
}

.log-in {
    position: relative;
    width: 100px;
    height: 50px;
    font-size: 17px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 300;
    margin-right: 7px;
    padding: 9px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.log-in:hover {
    opacity: 0.6;
}

.discover-more {
    position: relative;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    font-size: 17px;
    padding: 9px;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.discover-more:hover {
    background-color: rgb(209, 208, 208);
}

.submenu .register1 {
    font-size: 15px;
    height: 50px;
    width: 300px;
    border-bottom: 2px solid rgb(209, 208, 208);
    padding: 15px 0px;
}

.submenu li .register a:hover {
    background-color: rgb(209, 208, 208);
}

.Porsches {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    position: relative;
    top: -20px;
}

.Porsches:hover {
    background-color: rgb(224, 224, 224);
    scale: 1.07;
}

.Porsches-active1 {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.Porsches-active1 li {
    margin-bottom: 5px;
    width: 200px;
    padding: 5px;
    transition: all 0.3s ease;
    animation: slide 0.9s;
}

.Porsches-active1 li:last-child {
    margin-bottom: 150px;
}